{% extends 'base.html.twig' %}

{% block title %}Connexion - Krizalid{% endblock %}

{% block body %}
<main class="form-page">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
            <p class="title">Veuillez vous connecter</p>
            <label class="input" for="inputEmail">
                <input
                type="email"
                name="email"
                id="inputEmail"
                value="{{ last_username }}"
                required 
                autofocus
                autocomplete="email"
                oninput="checkFilled(this)"
                />
                <span class="label">Email</span>
            </label>
            <label class="input" for="inputPassword">
                <input
                type="password"
                name="password"
                id="inputPassword"
                required 
                autocomplete="current-password"
                oninput="checkFilled(this)"
                />
                <span class="label">Mot de passe</span>
            </label>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn-primary btn-l btn-w100" type="submit">
            Connexion
            </button>
            <script>
            function checkFilled(input) {
                if (input.value.trim() !== '') {
                    input.classList.add('filled');
                } else {
                    input.classList.remove('filled');
                }
            }
            </script>
    </form>
</main>
{% endblock %}
