{% extends 'base.html.twig' %}

{% block title %}Krizalid | Admin Accueil{% endblock %}

{% block body %}
<main>
    <h1 class="title-1 hidden-mobile">Admin Dashboard</h1>
    <section aria-labelledby="admin-activities" class="table">
        <h2 class="table-title" id="profits">Activités ({{totalActivities}})</h2>
        <table aria-labelledby="table-caption">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Créé le</th>
                    <th>Mis à jour le</th>
                    <th>Nom</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in paginationActivities %}
                    <tr>
                        <td>{{ activity.id }}</td>
                        <td>{{ activity.createdAt|date('d-m-Y H:i:s') }}</td>
                        <td>{{ activity.updatedAt|date('d-m-Y H:i:s') }}</td>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.slug }}</td>
                        <td class="actions">
                            <a href="{{ path('app_home', { activitySlug: activity.slug, simulationToken: 'default' }) }}" target="_blank">Edit</a>
                            <form class="admin-delete-item" action="{{ path('app_activity_delete', { id: activity.id }) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('DELETE' ~ activity.id) }}">
                                <button type="submit" aria-label="Supprimer Item" class="btn-delete"></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {{ knp_pagination_render(paginationActivities) }}
        </table>
        <figure class="admin-figure">
            <figcaption id="profits-total-annual">Importer une Activité</figcaption>
            <form class="admin-import-activity" method="post" action="{{ path('app_admin_import') }}" enctype="multipart/form-data">
                <label class="btn-secondary btn-s admin-import">
                    Choisir fichier (.yml)
                    <input
                    type="file"
                    name="file"
                    />
                </label>
                <button type="submit" class="btn-s btn-primary">Importer</button>
            </form>
        </figure>
    </section>
    <section aria-labelledby="admin-simulations" class="table">
        <h2 class="table-title" id="profits">Simulations ({{totalSimulations}})</h2>
        <table aria-labelledby="table-caption">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Créé le</th>
                    <th>Mis à jour le</th>
                    <th>Activité</th>
                    <th>Token</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for simulation in paginationSimulations %}
                    <tr>
                        <td>{{ simulation.id }}</td>
                        <td>{{ simulation.createdAt|date('d-m-Y H:i:s') }}</td>
                        <td>{{ simulation.updatedAt|date('d-m-Y H:i:s') }}</td>
                        <td>{{ simulation.activity.name }}</td>
                        <td>{{ simulation.token }}</td>
                        <td class="actions">
                            <a href="{{ path('app_home', { activitySlug: simulation.activity.slug, simulationToken: simulation.token }) }}" target="_blank">Voir</a>
                            <form class="admin-delete-item" action="{{ path('app_simulation_delete', { id: simulation.id }) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('DELETE' ~ simulation.id) }}">
                                <button type="submit" aria-label="Supprimer Item" class="btn-delete"></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <figure class="admin-figure">
            <figcaption id="profits-total-annual">Nettoyage des simulations non modifiées et des utilisateurs anonymes sans simulations</figcaption>
            <form class="admin-clean" method="post" action="{{ path('app_admin_clean') }}">
                <button type="submit" class="btn-s btn-primary">Nettoyer</button>
            </form>
        </figure>
        {{ knp_pagination_render(paginationSimulations) }}
    </section>
    <div class="modal admin-modal" id="confirmDeleteModal">
      <div class="modal-content">
        <span class="cross"></span>
        <p class="modal-title">Confirmer la suppression ?</p>
        <button class="btn-secondary btn-m" type="button" id="cancelDelete">
            Annuler
        </button>
         <button class="btn-primary btn-m" type="button" id="confirmDelete">
            Valider
        </button>
      </div>
    </div>
    <div class="modal admin-modal" id="overwriteConfirmImportActivityModal">
      <div class="modal-content">
        <span class="cross"></span>
        <p class="modal-title">Une activité avec ce slug existe déjà. Souhaitez-vous écraser les données existantes ?</p>
        <button class="btn-secondary btn-m" type="button" id="cancelOverwrite">
            Annuler
        </button>
         <button class="btn-primary btn-m" type="button" id="confirmOverwrite">
            Valider
        </button>
      </div>
    </div>
    <div class="modal admin-modal" id="confirmCleanModal">
      <div class="modal-content">
        <span class="cross"></span>
        <p class="modal-title">Confirmer le nettoyage ?</p>
        <button class="btn-secondary btn-m" type="button" id="cancelClean">
            Annuler
        </button>
         <button class="btn-primary btn-m" type="button" id="confirmClean">
            Valider
        </button>
      </div>
    </div>
</main>
{% endblock %}
