{% extends 'base.html.twig' %}

{% block title %}ProfessionalMonthlySales index{% endblock %}

{% block body %}
    <h1>ProfessionalMonthlySales index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Month</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professional_monthly_sale in professional_monthly_sales %}
            <tr>
                <td>{{ professional_monthly_sale.id }}</td>
                <td>{{ professional_monthly_sale.quantity }}</td>
                <td>{{ professional_monthly_sale.month }}</td>
                <td>
                    <a href="{{ path('app_professional_monthly_sales_show', {'id': professional_monthly_sale.id}) }}">show</a>
                    <a href="{{ path('app_professional_monthly_sales_edit', {'id': professional_monthly_sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_professional_monthly_sales_new') }}">Create new</a>
{% endblock %}
