{% extends 'base.html.twig' %}

{% block title %}ProfessionalMonthlySales{% endblock %}

{% block body %}
    <h1>ProfessionalMonthlySales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professional_monthly_sale.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ professional_monthly_sale.quantity }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ professional_monthly_sale.month }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_professional_monthly_sales_index') }}">back to list</a>

    <a href="{{ path('app_professional_monthly_sales_edit', {'id': professional_monthly_sale.id}) }}">edit</a>

    {{ include('professional_monthly_sales/_delete_form.html.twig') }}
{% endblock %}
