<nav class="navbar">
    <div class="navbar-burger-icon" id="burgerMenuBtn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-site-infos">
        <a class="navbar-site-logo" href="{% if app.user and 'ROLE_ADMIN' in app.user.roles %}{{ path('app_admin_home') }}{% else %}{{ path('app_home') }}{% endif %}">
            <img class="navbar-site-logo" src="{{ asset('images/logo-krizalid.svg') }}" alt="Logo Krizalid">
        </a>
        <p class="navbar-site-description">Envie de tout plaquer pour changer de job ? Change de vie et lance une activité rentable !</p>
    </div>
    {% if activitySlug is defined and simulationToken is defined %}
        <ul class="navbar-links">
            <li class="{% if app.request.get('_route') == 'app_home' %}active{% endif %}">
                <a href="{{ path('app_home', {'activitySlug': activitySlug, 'simulationToken': simulationToken}) }}">Rentabilité</a>
            </li>
            <li class="{% if app.request.get('_route') == 'app_professional_incomes' %}active{% endif %}">
                <a href="{{ path('app_professional_incomes', {'activitySlug': activitySlug, 'simulationToken': simulationToken}) }}">Profits</a>
            </li>
            <li class="{% if app.request.get('_route') == 'app_professional_expenses' %}active{% endif %}">
                <a href="{{ path('app_professional_expenses', {'activitySlug': activitySlug, 'simulationToken': simulationToken}) }}">Charges</a>
            </li>
            <li class="{% if app.request.get('_route') == 'app_personal_flows' %}active{% endif %}">
                <a href="{{ path('app_personal_flows', {'activitySlug': activitySlug, 'simulationToken': simulationToken}) }}">Niveau de Vie</a>
            </li>
        </ul>
    {% endif %}
   <div class="navbar-user" id="accountMenuBtn">
       <span class="navbar-user-icon {% if app.user %}connected{% else %}not-connected{% endif %}"></span>
        <ul class="navbar-user-dropdown" id="accountDropdown">
            {% if app.user %}
                <li>
                    <p>Connecté en tant que <strong>{{ app.user.email }}</strong></p>
                </li>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li>
                        <a href="{{ path('app_admin_home') }}">Dashboard Admin</a>
                    </li>
                {% endif %}
                {% if app.user.simulations|length > 0 %}
                    <li>
                        <p>Mes simulations</p>
                        <ul>
                            {% for simulation in app.user.simulations %}
                                <li>
                                    <a href="{{ path('app_home', { activitySlug: simulation.activity.slug, simulationToken: simulation.token }) }}">{{ simulation.activity.goal }} | {{ simulation.token }}</a>
                                    <form class="delete-simulation" action="{{ path('app_simulation_delete', { id: simulation.id }) }}" method="post">
                                        <input type="hidden" name="_token" value="{{ csrf_token('DELETE' ~ simulation.id) }}">
                                        <button type="submit">✖</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_register') }}">Créer un compte</a>
                </li>
                <li>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="overlay" id="menuOverlay"></div>
<nav class="burger-menu" id="burgerMenu">
    <h3>Menu</h3>
    <ul>
        <li>
            Calcul rentabilité : nos modèles gratuits
            <ul>
                {% for simulation_model in get_simulations_models() %}
                    <li><a href="{{ path('app_home', {'activitySlug': simulation_model.activity_slug}) }}">{{ simulation_model.activity_goal }}</a></li>
             {% endfor %}
            </ul>
            <a class="button-small-secondary" href="mailto:contact@julien-clement.com">Proposer un modèle</a>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Questions fréquentes</a></li>
        <li>Nous suivre sur
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Tiktok</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </li>
        <li>Crédits
            <ul>
                <li>Fait avec ❤ à Lyon</li>
                <li><a href="{{ path('app_legal_notices') }}">Mentions légales</a></li>
                <li><a href="{{ path('app_protection_of_personal_data') }}">Protection des données personnelles</a></li>
                <li>Service édité par <a href="mailto:contact@julien-clement.com">Julien CLEMENT</a></li>
            </ul>
        </li>
    </ul>
</nav>
